* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.postsForm {
    width: 800px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    textarea {
        width: 100%;
        height: 100px;
        border: 2px solid teal;
    }
}

.pp {
    width: 40vw;
}



.postList {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    margin-top: 100px;

    .post {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 2px solid teal;
    }
}


.container {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}